.mau {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 45%;

}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}