.title {

    color: purple;
    font-size: 16px;
    font-weight: bold;
    background-color: pink;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    width: 60%;
    height: 32px;
    margin-left: 20%;




}

.title:hover {
    padding: 16px;
    transition: 0.5s;
    box-shadow: 20px 10px;
}